@font-face {
    font-family: myFont;
    src: url(fonts/Fake\ Receipt.otf);
}

header{
    font-family: myFont;
    text-align: center;
}

ol{
   text-align: left; 
}

img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 10px;
}

body{
    font-family: myFont;
    text-align: center;
    background-image: url(background/—Pngtree—textured\ background\ of\ wrinkled\ or_15158705.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1024px;
    margin: 8px auto;
    padding-left: 30px;
    padding-right: 30px;
}

.dashLine{
    border-top: 2px dashed;
}

.column{
    float: left;
    width: 50%;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#mainHeading{
    font-size: smaller;
}






