@font-face {
    font-family: myFont;
    src: url(fonts/Fake\ Receipt.otf);
}

header{
    font-family: myFont;
    text-align: center;
}

#blurb{
    font-size: smaller;
}


body{
    font-family: myFont;
    margin: 8px;
}